.aboutContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text within .textContent */
    height: 100vh; /* Use viewport height to center vertically */
    overflow-y: auto;
  }
  
  .intro {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: space-between;
    max-width: 60%;
    flex-grow: 0;
  }
  
  .textContent {
    max-width: 100%; /* Allow text to take full width */
    line-height: 1.3;
  }
  
  .buildText {
    font-size: 2em;
    color: rgb(184, 183, 240);
  }
  
  h2 {
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
  }
  
  .imageContainer {
    max-width: 30%;
    overflow: hidden;
  }
  
  .profileImage {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .enterButton {
    display: block;
    margin: 0 auto;  
    margin-top: 10px;
    font-size: 1.5em; 
    padding: 10px 20px;
  }

  .boldText {
    font-weight: bold;
  }